engine-strict=true
auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
node-linker=hoisted
sharp_binary_host=https://cdn.npmmirror.com/binaries/sharp
sharp_libvips_binary_host=https://cdn.npmmirror.com/binaries/sharp-libvips
# 添加 electron 相关配置
ELECTRON_MIRROR=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://cdn.npmmirror.com/binaries/electron-builder-binaries/
electron_custom_dir=35.0.3 # 与你 package.json 中指定的版本保持一致
virtual-store-dir-max-length=220