.container {
  :global {
    .ant-menu-item {
      &:hover {
        .menu-item-more {
          visibility: visible !important;
        }
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  // height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

    .title {
      color: var(--evo-color-text);
      margin: 0;
    }
  }
}