.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.tabBar {
  flex-shrink: 0;
  border-top: 1px var(--evo-color-border);
  height: 50px;
}