.body {}

.evo-button-icon {
  .ant-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.evo-menu {
  background: transparent !important;
  border-right: none !important;

  :global {
    .ant-menu-item-group {
      // margin-bottom: 16px; // 设置组之间的间距

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ant-menu-item-group-title {
      padding: 0px 12px;
      font-size: 12px;
    }
  }
}

.evo-select {


  &-menu {
    padding: 8px;

    .ant-select-item {
      padding: 5px 12px !important;
    }

    .ant-select-item-group {
      padding: 5px 0px !important;
    }
  }
}

// 设置图片预览的关闭按钮可点击
.ant-image-preview-operations-wrapper {
  .ant-image-preview-close {
    -webkit-app-region: no-drag;
  }
}

.ant-pro-list-item {
  padding-left: 10px !important;
}
