.container {
  .user_title {
    margin-top: 4px;
  }

  .avatar {
    margin-right: 10px;
  }

  .name {
    margin-right: 10px;
  }

  .time {
    color: #888888de;
  }

  .action-area {
    margin-left: 10px;
  }
}
